.registration {
    height: 60%;
    width: 320px;
    justify-content: space-around;
    margin: 15px auto auto;
}
.registration form {
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.form-inputs {
    height: 100%;
    justify-content: space-evenly;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}